@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");

.whiteGlassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.welcome {
  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ethCard {
  background-color: #a099ff;
  background-image: radial-gradient(
      at 83% 67%,
      rgb(152, 231, 156) 0,
      transparent 58%
    ),
    radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%),
    radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%),
    radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
  margin-right: 2.5%;
}

.title {
  text-align: center;
  letter-spacing: 0.1em;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  line-height: 1.5;
  font-size: 3.5rem;
  margin-top: 1rem;
}

.para {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  margin: 0 1rem;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
}

.walletBody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.details {
  margin: 0;
}

.walletDetails {
  margin-right: 10%;
}

.walletbtn {
  margin-right: 2.5%;
  border-radius: 10px;
  margin-top: 7rem;
}

.party {
  border-width: 0;
  margin-top: 1rem;
}

.partyname {
  margin-top: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.parties {
  width: 100%;
  margin: 0 auto;
}

.partyBody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultBtn {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.votebtn {
  width: 50%;
  margin: 0.5rem auto;
}

.footerButton {
  /* position: absolute;
  bottom: 0;
  right: 0; */

  float: right;
  margin: 1rem;
  margin-top: 6.5rem;
  border-color: white;
}

.eth {
  margin-bottom: 0;
}

.address {
  margin-bottom: 0;
}

@media only screen and (max-width: 600px) {
  .walletBody {
    flex-direction: column;
  }

  .details {
    margin: 0;
    width: 300px;
  }

  .parties {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .walletbtn {
    margin-top: 2rem;
  }

  .partyBody {
    flex-direction: column;
  }

  .party {
    width: 100%;
  }
}
